@model System.Data.Entity.IDbSet<MVC_Security.Models.ApplicationUser>

@{
    ViewBag.Title = "Userbeheer";
}

<h2> Userbeheer </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Detail</th>
            <th>Delete user</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var gebruiker in Model)
        { 
            <tr>
                <td>@gebruiker.Id</td>
                <td>@Html.ActionLink(gebruiker.UserName, "UserDetail", new { id = gebruiker.Id })</td>
                <td>@Html.ActionLink("Detail", "UserDetail", new { id = gebruiker.Id }, new { @class = "btn btn-warning"})</td>
                <td>@Html.ActionLink("Delete user", "VerwijderUser", new { id = gebruiker.Id}, new { @class = "btn btn-danger"})</td>
            </tr> 
        }
    </tbody>
</table>